/* General Rules */

body {
  background-color: black;
  margin: 0;
  color: seashell;
  font-size: 22px;
  text-align: center;
  font-family: Helvetica;
  
}

a {
  color: seashell;
}


/* Header */

header {
  display: flex;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
}

.logo {
  width: 910px;
}

.logo img {
  display: flex;
  height: 50px;
  padding-left:10px;
  flex-grow: 1;
  align-items: center;
  
}

nav span {
  display: inline-block;
  margin-right: 20px;
}

/* Main Content */


.main-content {
  display: flex;
  width: 1200px;
  padding: 69px;
  margin: auto;
  opacity: .9;
}

/* Top Section */

.img-content {
  display: flex;
  width: 100%;
}


#img-one.img-content {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}


#img-one .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

/* Middle Section */


#second-content {
  height: 700px;
  width: 1000px;
  margin: auto;
}

.mid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.each-pic {
  padding: 5px;
}

.each-pic img {
  height: 200px;
  width: 300px;
  display: block;
  padding: 10px;
}

.each-pic span {
  display: block;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

  /* Bottom Section */

